<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dawin.mapper.AlarmMapper">

	<select id="getList" resultType="AlarmVO">
		select alarm_lvl,
		continent_eng_nm, continent_nm, country_eng_nm, country_nm
		from alarm
		where alarm_lvl = 1
	</select>
	
	<select id="getListLvl" resultType="AlarmVO">
		select alarm_lvl,
		continent_eng_nm, continent_nm, country_eng_nm, country_nm
		from alarm
		where alarm_lvl = #{alarmLvl}
	</select>
	
	<select id="read" resultType="AlarmVO">
		select * from alarm
		where country_nm = #{countryNm}
	</select>
	
	<select id="getBasic" resultType="AlarmVO">
		select basic
		from CountryInfo
		where country_nm = #{countryNm}
	</select>
	
	
</mapper>