<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.dawin.mapper.DonateMapper">

	<resultMap id="donateMap" type="org.dawin.domain.DonateVO">
		<id property="donateName" column="donate_name" />
		<result property="donateDate" column="donate_date" />
		<result property="donatePayment" column="donate_payment" />
		<result property="donateName" column="donate_name" />
		<result property="donateBirthday" column="donate_birthday" />
		<result property="donatePhoneNumber" column="donate_phone_number" />
		<result property="donateEmail" column="donate_email" />
		<result property="donateSelect" column="donate_select" />
		<result property="donateMoney" column="donate_money" />
		<result property="donateMessage" column="donate_message" />
	</resultMap>

	<select id="getDonateMyList" resultType="DonateVO">
		select donate_date, donate_payment, donate_name, donate_birthday, donate_phone_number, 
			donate_email, donate_select, donate_money, donate_message 
		from tbl_donate_member
		where donate_name = #{donateName}
			and donate_birthday = #{donateBirthday}
			and donate_email = #{donateEmail}
			and donate_phone_number = #{donatePhoneNumber}
	</select>
	
	<select id="getDonateSelectList" resultType="DonateVO">
		select donate_select, donate_description
		from tbl_donate_select order by donate_select
	</select>

	<select id="getDonateAmountList" resultType="DonateVO">
		select donate_option, donate_money  
		from tbl_donate_amount order by donate_money
	</select>
	
	<insert id="insertDonate">
		insert into tbl_donate_member(donate_payment, donate_name, donate_birthday, donate_phone_number, 
			donate_email, donate_select, donate_money, donate_message)
		values(#{donatePayment}, #{donateName}, #{donateBirthday}, #{donatePhoneNumber}, #{donateEmail}, 
			#{donateSelect}, #{donateMoney}, #{donateMessage})
	</insert>
	
	<select id="getDonateTotalMoney" resultType="int">
		select sum(donate_money) 
		from tbl_donate_member
	</select>
	
	<select id="getDonateTotalPeople" resultType="int">
		select count(donate_number) 
		from tbl_donate_member
	</select>

	<select id="getDonateOptionTotalList" resultMap="donateOptionTotalResultMap">
	    SELECT donate_select, sum(donate_money) as sumDonateMoney
	    FROM tbl_donate_member
	    GROUP BY donate_select;
	</select>
	
	<resultMap id="donateOptionTotalResultMap" type="DonateVO">
	    <result property="donateSelect" column="donate_select"/>
	    <result property="sumDonateMoney" column="sumDonateMoney"/>
	</resultMap>
	
</mapper>