<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.dawin.mapper.MemberMapper">
	<resultMap id="authMap" type="org.dawin.domain.AuthVO" >
		<result property="username" column="username" />
		<result property="auth" column="auth" />
	</resultMap>
	
	<resultMap id="memberMap" type="org.dawin.domain.MemberVO" >
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<collection property="authList" resultMap="authMap" />
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select m.username, password, email, reg_date, update_date, auth
		from tbl_member m left outer join tbl_member_auth a
			on m.username = a.username
		where m.username = #{username}
	</select>
	
	<select id="authRead" resultType="authVO">
		select username, auth
		from tbl_member_auth
	</select>
	
	<insert id="insert">
		insert into tbl_member(username, password, email)
		values(#{username}, #{password}, #{email})
	</insert>
	
	<insert id="kakaoInsert">
		insert into tbl_member(username)
		values(#{username})
	</insert>
	
	<insert id="insertAuth">
		insert into tbl_member_auth(username, auth)
		values(#{username}, #{auth})
	</insert>
	
	<update id="changePassword">
		update tbl_member
		set password = #{encPassword}
		where username = #{username}
	</update>
	
	<select id="hasUsername" resultType="int">
		select EXISTS 
			(select * from tbl_member 
			where username = #{username} 
			limit 1) 
		as success
	</select>
</mapper>
