<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" /> <!-- snake 표기법을 camelcase로 표기시켜라 ex)reg_date=> regDate -->
	</settings>


	<typeAliases>
		<package name="org.dawin.domain" />
	</typeAliases>

</configuration>