@charset "UTF-8";

/* .leaflet-container {
    display: block; 가로 중앙 정렬을 위해 변경
    justify-content: center;
    align-item: center;
    width: 80%;
    max-width: 1400px; 지도의 최대 너비를 설정
    height: 400px;
    margin: 20px, 50px, 20px, 10px;
    margin-top: 50px !important; 상단과 하단의 여백 제거
    padding: 0; 상단과 하단의 여백 제거
    
} */
.exchange-title {
	font-size: 2rem;
	font-weight: bold;
	color: #545e6f;
	margin-bottom: 1rem;
	padding-top: 4rem;
}

.exchange-item {
	max-width : 300px;
	max-height: 200px;
	position: relative;
	padding-top: 5px;
	border-radius: 10px;
	flex-shrink: 0;
	transition: 0.4s;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border: 1px solid rgba(25, 42, 70, 0.2);
	box-shadow: 3px 3px 5px 0px rgba(25, 42, 70, 0.2);
}

.exchange-item:hover {
	box-shadow: 10px 10px 10px 0px rgba(25, 42, 70, 0.2);
	transform: translate(0, -5px);
	border: 2px solid rgba(25, 42, 70, 0.2);
	cursor: grab;
}

.class-card-exchange {
	position: fixed;
	width: 200px;
	box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
	border-radius: 8px;
	margin: 10px;
	transition: 0.4s;
	flex-shrink: 0;
}

.image-caption {
	position: absolute;
	top:0px;
	right:5px;
	width: 40px;
	height: 20px;
	object-fit: cover;
	margin-left: 11rem;
	margin-bottom: 5rem;
	flex-shrink: 0;
	/* border-bottom-left-radius: 10px; /* 아래 왼쪽 둥근 모서리 적용 */
	/* border-bottom-right-radius: 10px; /* 아래 오른쪽 둥근 모서리 적용 */
}

.nm-text {
	padding-left: 1rem;
	font-size: 15px;
}

.unit-text {
	padding-left: 1rem;
	padding-bottom: 1rem;
}

.tts-text {
	padding-top: 1rem;
	padding-left: 1rem;
	font-weight: bold;
	font-size: 30px;
}

.ex-text {
	font-size: 12px; color : #545e6f;
	margin-bottom: 1rem;
	color: #545e6f;
}