@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
	font-family: 'Noto Sans KR'
}

.avatar-sm {
	width: 24px;
	height: 24px;
	border-radius: 50%;
} 

.profileImage {
	width: 150px;
	height: 150px;
	border-radius: 30%;
} 

.jumbotron {
	background-image: url('/resources/images/back.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;	
}

a.page-link {
	border-width: 0px;
}

.error {
	color: red;
	font-size: 0.9rem;
}

.wrap-container {
	height: auto;
	min-height: 100%;
	padding-bottom: 60px;
}

.home-container {
	min-height: 600px;
}

footer {
	height: 60px;
	position: relative;
	transform: translateY(0%);
	border-top: 1px solid #248efe;
	
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: '#62679b';
}

.card-header {
	background-color: #F0A07B;
}